<div class="header">
  <a href="#default" class="logo">TI-182 MOVIE</a>
  <div class="header-right">
    <a (click)="goHome()" [class]="showForm === 0 ? 'active' : ''" href="#home">Home</a>
    <a href="#home" style="margin-left: 10px" [class]="showForm === 1 ? 'active' : ''" (click)="goToCreate()">New
      movie</a>
    <a style="margin-left: 10px" [class]="showForm === 2 ? 'active' : ''">
      Update</a>
  </div>
</div>

<div class="wrapper">
  <mat-card *ngFor="let item of movies">
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.actors }}</mat-card-subtitle>
    <mat-card-content>{{ item.description }}</mat-card-content>
    <p>Budget: {{ item.budget }}</p>
    <mat-card-actions style="display: flex; justify-content: flex-end">
      <a>
        <mat-icon class="update" (click)="goToUpdate(item)"> update </mat-icon>
      </a>
      <a>
        <mat-icon class="delete" (click)="deleteMovie(item.id)"> delete </mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<hr>
<div *ngIf="showForm != 0">
  <form class="form-fields" [formGroup]="movieForm">
    <mat-form-field appearance="outline" style="width: 450px;">
      <input id="Name" formControlName="name" matInput #input placeholder="Name" type="text">
      <mat-label> Name </mat-label>
      <mat-hint *ngIf="movieForm?.get('name')?.hasError" style="color: red;"> *This field is required </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 450px;">
      <input id="Name" formControlName="description" matInput #input placeholder="Name" type="text">
      <mat-label> Description </mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 450px;">
      <input id="Name" formControlName="actors" matInput #input placeholder="Name" type="text">
      <mat-label> Actors </mat-label>
      <mat-hint *ngIf="movieForm?.get('actors')?.hasError" style="color: red;"> *This field is required </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 450px;">
      <input id="Name" formControlName="budget" matInput #input placeholder="Name" type="text">
      <mat-label> Budget </mat-label>
      <mat-hint *ngIf="movieForm?.get('budget')?.hasError" style="color: red;"> *This field is required </mat-hint>
    </mat-form-field>
    <div style="justify-content: center; display: flex;">
      <button mat-button color="primary" (click)="goHome()">Back</button>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
  </form>
</div>